# Environments
.venv/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
pytest.ini
profiles/
build/
compile_flags.txt

# Data files (Binary/Large files)
*.npy
*.npz
*.prof
